section {
    padding: 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-toggler {
    display: block;
}

@media (max-width: 767px) {
    .navbar-brand.Logo {
        display: none;
    }
    .navbar-nav .nav-link.active {
        text-decoration: none;
        color: darkgreen;
        position: relative;
        z-index: 2;
        font-weight: bold;
    }
    .navbar-nav .nav-link.active:hover::before {
        background-color: mintcream;
    }
    .navbar-nav .nav-link:hover {
        color: mintcream;
    }
    .navbar-nav .nav-link.active:hover {
        text-shadow: 0 0 10px rgba(0, 128, 0, 0.7);
    }
}

.navbar-nav .nav-link.active {
    text-decoration: none;
    color: darkgreen;
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: mintcream;
}

#video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

nav.bg-black {
    background-color: #79AC78 !important;
}

.mask-custom {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

@media (max-width: 767px) {
    .bg-image {
        height: 1400px !important;
    }
}

#hidden-content {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: top 0.5s;
    overflow-y: scroll;
}

.round-btn {
    display: inline;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    float: left;
    margin: 15px 8px;
    box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
    border: 1px solid;
}

.round-btn a {
    display: block !important;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 50%;
}

.round-btn .icon {
    padding: 3px;
}

.round-btn .icon img {
    height: 24px;
    width: 32px;
    margin-top: 6px;
}

.btn-facebook a {
    color: #3b5998;
    padding: 8px 13px;
}

.btn-linkedin a {
    color: #007bb6;
}

.btn-twitter a {
    color: #1c9deb;
}

.btn-instagram a {
    color: #dd3f5c;
}

.btn-whatsapp a {
    color: #155E54;
}

.btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 9px 12px;
}

.standard_header .standard_social_links {
    margin-left: 1rem;
}

.footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #263A29;
}

footer .second_class {
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}

footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}

footer .first_class p,
footer .first_class h3 {
    margin: 0 0;
}

footer {
    background: #41644A;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

footer .newsletter .newsletter_submit_btn {
    background: #fff;
    position: relative;
    border: 0;
    font-size: 17px;
    color: #333;
    float: right;
    margin-top: -48px;
    right: 15px;
    top: 5px;
}

footer .second_class_bdr {
    padding-top: 25px;
    border-top: 1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;
}

footer .round-btn {
    margin: 15px 4px;
}

footer dl,
ol,
ul {
    padding-left: 5px;
}

footer li {
    list-style: none;
}

@media(max-width:768px) {
    .footer-wrap h3 {
        margin-top: 27px;
    }
    footer .round-btn {
        margin: 15px 4px;
    }
}

@media(max-width:320px) {
    .copyright {
        font-size: 13px;
    }
}

a {
    color: white;
    text-decoration: none;
}

.h2arrow {
    color: white;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
}

.arrow {
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 10px;
}

.rectangle {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 50px;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}

.rectangle .content {
    display: flex;
    align-items: center;
}

.rectangle img {
    width: 80px;
    height: 70px;
}

.rectangle h3 {
    margin-top: 45px;
    margin-left: 20px;
}

.text {
    display: flex;
}

@media (max-width: 768px) {
    .center-container {
        margin-top: -40px;
        margin-bottom: 10px;
    }
    .rectangle {
        width: 100%;
        max-width: 800px;
        height: auto;
        border-radius: 50px;
        background-color: #ffffff;
        position: relative;
        z-index: 2;
    }
    .rectangle img {
        width: 60px;
        height: 50px;
        margin: 10px 10px;
    }
    .text p {
        margin: 0 -40px;
    }
    .c1 img {
        margin-left: -100px;
    }
    .c2 {}
    .c3 {}
}

.s-title {
    font-size: 5rem;
    margin: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    font-family: 'Aurella', serif;
}

.s-content {
    padding: 1em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.s-content.show {
    opacity: 1;
}

.show-once {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show-once.show {
    opacity: 1;
    transform: translateY(0);
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sttbutton {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#sttbutton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#sttbutton:hover {
    cursor: pointer;
    background-color: #333;
}

#sttbutton:active {
    background-color: #555;
}

#sttbutton.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 500px) {
    #sttbutton {
        margin: 30px;
    }
}

.caption-background {
    background: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

@media (max-width: 768px) {
    #recipeCarousel .carousel-inner .carousel-item>div {
        display: none;
    }
    #recipeCarousel .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#recipeCarousel .carousel-inner .carousel-item.active,
#recipeCarousel .carousel-inner .carousel-item-next,
#recipeCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    #recipeCarousel .carousel-inner .carousel-item-right.active,
    #recipeCarousel .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    #recipeCarousel .carousel-inner .carousel-item-left.active,
    #recipeCarousel .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

#recipeCarousel .carousel-inner .carousel-item-right,
#recipeCarousel .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.card.card-body {
    border: none;
    box-shadow: none;
}